In [2]:
import pandas as pd
import numpy as np

In [3]:
data = 'https://raw.githubusercontent.com/alexeygrigorev/datasets/master/course_lead_scoring.csv'
!wget $data

--2025-10-13 22:28:10--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/course_lead_scoring.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.108.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 80876 (79K) [text/plain]
Saving to: ‘course_lead_scoring.csv.1’

course_lead_scoring 100%[===================>]  78.98K  --.-KB/s    in 0.003s

2025-10-13 22:28:10 (29.6 MB/s) - ‘course_lead_scoring.csv.1’ saved [80876/80876]

In [192]:
df = pd.read_csv('course_lead_scoring.csv')

# Getting Size
df.shape
df = df.drop('lead_score', axis=1)

In [193]:
# Looking at the head
df.head()

,lead_source,industry,number_of_courses_viewed,annual_income,employment_status,location,interaction_count,converted
0,paid_ads,NaN,1,79450.0,unemployed,south_america,4,1
1,social_media,retail,1,46992.0,employed,south_america,1,0
2,events,healthcare,5,78796.0,unemployed,australia,3,1
3,paid_ads,retail,2,83843.0,NaN,australia,1,0
4,referral,education,3,85012.0,self_employed,europe,3,1

In [194]:
# Transpose of Head
df.head().T

,0,1,2,3,4
lead_source,paid_ads,social_media,events,paid_ads,referral
industry,NaN,retail,healthcare,retail,education
number_of_courses_viewed,1,1,5,2,3
annual_income,79450.0,46992.0,78796.0,83843.0,85012.0
employment_status,unemployed,employed,unemployed,NaN,self_employed
location,south_america,south_america,australia,australia,europe
interaction_count,4,1,3,1,3
converted,1,0,1,0,1

In [195]:
# Types inspection
df.dtypes

lead_source                  object
industry                     object
number_of_courses_viewed      int64
annual_income               float64
employment_status            object
location                     object
interaction_count             int64
converted                     int64
dtype: object

In [196]:
# getting categorical columns
categorical_columns = list(df.dtypes[df.dtypes == 'object'].index)
categorical_columns

['lead_source', 'industry', 'employment_status', 'location']

In [197]:
# prepare uniform values in column names (not needed but done for practice)
df.columns = df.columns.str.lower().str.replace(' ', '_')

# preparing uniform values in column values
for c in categorical_columns:
    df[c] = df[c].str.lower().str.replace(' ', '_')
 
df.head().T

,0,1,2,3,4
lead_source,paid_ads,social_media,events,paid_ads,referral
industry,NaN,retail,healthcare,retail,education
number_of_courses_viewed,1,1,5,2,3
annual_income,79450.0,46992.0,78796.0,83843.0,85012.0
employment_status,unemployed,employed,unemployed,NaN,self_employed
location,south_america,south_america,australia,australia,europe
interaction_count,4,1,3,1,3
converted,1,0,1,0,1

In [198]:
# filling NAs of categorical_columns
df[categorical_columns] = df[categorical_columns].fillna('NA')
df.head().T

,0,1,2,3,4
lead_source,paid_ads,social_media,events,paid_ads,referral
industry,NA,retail,healthcare,retail,education
number_of_courses_viewed,1,1,5,2,3
annual_income,79450.0,46992.0,78796.0,83843.0,85012.0
employment_status,unemployed,employed,unemployed,NA,self_employed
location,south_america,south_america,australia,australia,europe
interaction_count,4,1,3,1,3
converted,1,0,1,0,1

In [199]:
# getting numerical columns
numerical_columns = ['number_of_courses_viewed','annual_income','interaction_count']
numerical_columns

['number_of_courses_viewed', 'annual_income', 'interaction_count']

In [200]:
# filling NAs of numerical columns
df[numerical_columns] = df[numerical_columns].fillna(0.0)
df[numerical_columns]

      number_of_courses_viewed  annual_income  interaction_count
0                            1        79450.0                  4
1                            1        46992.0                  1
2                            5        78796.0                  3
3                            2        83843.0                  1
4                            3        85012.0                  3
...                        ...            ...                ...
1457                         1            0.0                  4
1458                         3        65259.0                  2
1459                         1        45688.0                  3
1460                         5        71016.0                  0
1461                         3        92855.0                  3

[1462 rows x 3 columns]

In [202]:
# Question 3
from sklearn.model_selection import train_test_split

In [203]:
df_full_train, df_test = train_test_split(df, test_size=0.2, random_state=42)
len(df_full_train), len(df_test)

(1169, 293)

In [204]:
df_train, df_val = train_test_split(df_full_train, test_size=0.25, random_state=42)
len(df_train), len(df_val)

(876, 293)

In [205]:
# Reset Index
df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

In [206]:
# Prepare y
y_train = df_train.converted.values
y_val = df_val.converted.values
y_test = df_test.converted.values

In [207]:
df_full_train

,lead_source,industry,number_of_courses_viewed,annual_income,employment_status,location,interaction_count,converted
1066,social_media,manufacturing,2,44403.0,self_employed,australia,1,0
638,events,retail,3,38048.0,student,north_america,6,1
799,social_media,education,2,71399.0,NA,europe,1,1
380,referral,education,2,47912.0,employed,australia,1,0
303,paid_ads,healthcare,1,34806.0,employed,europe,4,1
...,...,...,...,...,...,...,...,...
1130,events,manufacturing,1,57039.0,employed,south_america,2,0
1294,events,healthcare,2,56185.0,student,south_america,2,0
860,paid_ads,manufacturing,1,56402.0,student,north_america,1,0
1459,paid_ads,technology,1,45688.0,student,north_america,3,1
1126,events,manufacturing,0,43862.0,self_employed,asia,4,0

In [208]:
# Calculate mutual info
from sklearn.metrics import mutual_info_score

def mutual_info_converted_score(series):
    return mutual_info_score(series, df_train.converted)

In [209]:
mi = df_train[categorical_columns].apply(mutual_info_converted_score)
mi.sort_values(ascending=False)

lead_source          0.035396
employment_status    0.012938
industry             0.011575
location             0.004464
dtype: float64

In [210]:
# Question 4 - Train Model

In [211]:
# Delete column converted
del df_train['converted']
del df_val['converted']
del df_test['converted']

In [212]:
# One-hot Encoding
from sklearn.feature_extraction import DictVectorizer

In [213]:
dv = DictVectorizer(sparse=False)

train_dict = df_train[categorical_columns + numerical_columns].to_dict(orient='records')
X_train = dv.fit_transform(train_dict)

val_dict = df_val[categorical_columns + numerical_columns].to_dict(orient='records')
X_val = dv.transform(val_dict)

In [214]:
def sigmoid(z):
    return 1 / (1 + np.exp(-z))

def logistic_regression(xi):
    score = w0
     
    for j in range(len(w)):
        score = score + xi[j] * w[j]
     
    result = sigmoid(score)
    return result

In [215]:
from sklearn.linear_model import LogisticRegression
 
model = LogisticRegression(solver='liblinear', C=1.0, max_iter=1000, random_state=42)
model.fit(X_train, y_train)

LogisticRegression(max_iter=1000, random_state=42, solver='liblinear')

In [216]:
model.coef_[0].round(3)

array([-0.   , -0.015,  0.034,  0.003,  0.012, -0.103, -0.025,  0.05 ,
       -0.02 , -0.013, -0.003, -0.009, -0.032, -0.016,  0.313,  0.02 ,
       -0.012, -0.012, -0.116,  0.08 , -0.03 ,  0.004, -0.011, -0.011,
       -0.006,  0.008,  0.006, -0.033, -0.025,  0.456])

In [217]:
# bias
model.intercept_[0]

np.float64(-0.06891397780582399)

In [218]:
model.predict(X_train)

array([1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1,
       1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1,
       1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1,
       1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1,
       0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

In [219]:
y_pred = model.predict_proba(X_val)[:,1]
y_pred

array([0.61641021, 0.79924378, 0.53410391, 0.47095791, 0.57411527,
       0.44921366, 0.87163964, 0.84797997, 0.83526881, 0.62055739,
       0.5520865 , 0.77959866, 0.68786689, 0.77535978, 0.53429569,
       0.91867361, 0.5343365 , 0.4180206 , 0.29540696, 0.85120469,
       0.79475779, 0.73744094, 0.44405776, 0.6411325 , 0.41342195,
       0.75727078, 0.90212882, 0.34486756, 0.42572004, 0.96746988,
       0.9204702 , 0.37261045, 0.65543887, 0.90494541, 0.75385421,
       0.64095535, 0.82117516, 0.834098  , 0.6594366 , 0.31221599,
       0.78828955, 0.3495941 , 0.96469813, 0.62700979, 0.50688783,
       0.53760041, 0.82487922, 0.73757621, 0.73483226, 0.69500698,
       0.47570811, 0.84993978, 0.56097755, 0.92763697, 0.65148536,
       0.62136979, 0.63984995, 0.2874928 , 0.47392408, 0.57903449,
       0.35047775, 0.62321169, 0.39211954, 0.61461065, 0.8525382 ,
       0.75293349, 0.89017704, 0.72487348, 0.95514052, 0.89109422,
       0.75162671, 0.33788115, 0.60727014, 0.52075568, 0.63572674,
       0.75692469, 0.89217331, 0.78126398, 0.58072182, 0.52602321,
       0.75061117, 0.45964221, 0.8176219 , 0.79143795, 0.62017498,
       0.38733981, 0.92148079, 0.79029942, 0.61493274, 0.92766146,
       0.75697755, 0.56779284, 0.59873004, 0.7718379 , 0.38805676,
       0.93709541, 0.61868536, 0.70254607, 0.72104852, 0.7077205 ,
       0.43361219, 0.48897409, 0.67154462, 0.71130367, 0.82431156,
       0.79644006, 0.67364933, 0.5992243 , 0.89180731, 0.60737312,
       0.89540969, 0.68897148, 0.50903467, 0.4555333 , 0.63692817,
       0.44418208, 0.65910846, 0.43027159, 0.69624399, 0.86598803,
       0.39456122, 0.50564834, 0.61687   , 0.49620782, 0.70103085,
       0.84904708, 0.40032476, 0.8438901 , 0.59011619, 0.8532333 ,
       0.78511251, 0.80933084, 0.45864752, 0.55861715, 0.7108879 ,
       0.61581148, 0.86220296, 0.80681951, 0.61481368, 0.64385801,
       0.5566544 , 0.55821352, 0.51514494, 0.72381438, 0.43174402,
       0.23166877, 0.70844855, 0.64946987, 0.94591576, 0.80192436,
       0.69310001, 0.83979897, 0.90086918, 0.81741068, 0.53111236,
       0.20460583, 0.56604149, 0.68110567, 0.34054463, 0.80808998,
       0.63955088, 0.85438164, 0.6854633 , 0.37566123, 0.80964508,
       0.83142921, 0.57519202, 0.81396072, 0.89903715, 0.72650518,
       0.84728041, 0.68591262, 0.716241  , 0.49881231, 0.97009134,
       0.42356484, 0.65630492, 0.51032055, 0.74293675, 0.7014211 ,
       0.43010834, 0.5405057 , 0.91530342, 0.77304165, 0.63922526,
       0.79312237, 0.54564687, 0.69521704, 0.72225622, 0.38225759,
       0.69159512, 0.76326898, 0.65208472, 0.63632659, 0.60985519,
       0.42536543, 0.60989668, 0.62887629, 0.71795134, 0.84947974,
       0.95952961, 0.72953017, 0.66309645, 0.62699727, 0.69085948,
       0.60924129, 0.8834863 , 0.51424438, 0.88002474, 0.78116323,
       0.68441529, 0.6835867 , 0.71259017, 0.88892058, 0.61498027,
       0.68422586, 0.79636175, 0.4653365 , 0.47983115, 0.76377029,
       0.43888501, 0.70654086, 0.35793584, 0.57640721, 0.73090059,
       0.7639817 , 0.74738722, 0.63173057, 0.22852919, 0.46917352,
       0.54438422, 0.85839054, 0.36981621, 0.63379502, 0.75343772,
       0.81152277, 0.31276133, 0.61413332, 0.90798321, 0.73003201,
       0.78347328, 0.57140247, 0.75053298, 0.70571976, 0.87215809,
       0.67589267, 0.46655581, 0.68853081, 0.89759742, 0.67037707,
       0.46800573, 0.94064995, 0.85633336, 0.57715163, 0.82253636,
       0.66493521, 0.36615225, 0.76140073, 0.77295912, 0.60987298,
       0.97653197, 0.61670953, 0.4984598 , 0.90643837, 0.68878956,
       0.86736865, 0.59484523, 0.41752   , 0.78652131, 0.56780825,
       0.33279796, 0.89708044, 0.35551446, 0.60459117, 0.72413265,
       0.54226667, 0.33605306, 0.51644176, 0.67919528, 0.73598397,
       0.7447365 , 0.43297131, 0.49836276, 0.58224803, 0.71834508,
       0.78836613, 0.73257384, 0.85622435, 0.4209987 , 0.70457436,
       0.42442177, 0.74288329, 0.42529069])

In [220]:
converted_decision = y_pred >0.5
converted_decision

array([ True,  True,  True, False,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True, False,
       False,  True,  True,  True, False,  True, False,  True,  True,
       False, False,  True,  True, False,  True,  True,  True,  True,
        True,  True,  True, False,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True, False, False,  True, False,  True, False,
        True,  True,  True,  True,  True,  True,  True,  True, False,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True,  True, False,  True,  True,  True,  True,
        True,  True,  True,  True, False,  True,  True,  True,  True,
        True, False, False,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True, False,  True,
       False,  True,  True, False,  True,  True, False,  True,  True,
       False,  True,  True,  True,  True,  True, False,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
       False, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False,  True,  True, False,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False,  True, False,  True,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True,  True,  True,  True, False,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False, False,  True, False,  True, False,  True,  True,
        True,  True,  True, False, False,  True,  True, False,  True,
        True,  True, False,  True,  True,  True,  True,  True,  True,
        True,  True,  True, False,  True,  True,  True, False,  True,
        True,  True,  True,  True, False,  True,  True,  True,  True,
        True, False,  True,  True,  True,  True, False,  True,  True,
       False,  True, False,  True,  True,  True, False,  True,  True,
        True,  True, False, False,  True,  True,  True,  True,  True,
       False,  True, False,  True, False])

In [221]:
df_val[converted_decision]

,lead_source,industry,number_of_courses_viewed,annual_income,employment_status,location,interaction_count
0,paid_ads,healthcare,3,52220.0,unemployed,europe,1
1,organic_search,technology,3,59656.0,unemployed,middle_east,4
2,events,manufacturing,0,57134.0,self_employed,north_america,4
4,referral,retail,1,54103.0,unemployed,south_america,3
6,organic_search,NA,1,0.0,student,asia,5
...,...,...,...,...,...,...,...
285,referral,education,3,0.0,unemployed,asia,0
286,events,technology,1,0.0,employed,asia,2
287,events,retail,5,69305.0,unemployed,australia,3
289,paid_ads,NA,1,20326.0,employed,middle_east,3
291,organic_search,technology,2,39103.0,self_employed,africa,3

In [222]:
# Accuracy
(y_val == converted_decision).mean()

np.float64(0.7064846416382252)